body{font-family: "Open Sans", sans-serif;
}
.hdr{
    background-color: #FFF8F3;  
    height: max-content; 
    display: flex;  
}
.primary-color {
    color: #FD6E0A;
}
nav{
    display: flex;
    

   margin: 0 0 50px 40px;
}
nav>h2{
    font-size: 45px;
   font-weight: bold;
}
nav>ul{
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: 200px;
}
ul>li>a{
    margin-right: 70px;
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: 600;
}
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
    border: 0;
    font-size: 30px;
    font-weight: 600;
    padding: 15px;
    width: 150px;
    height: 65;
}
.btn-cv{ 
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-weight: 500;
    padding: 15px;
    width: 190px;
    height: 65;
}
.cn{
    text-align: center;
    margin-top: 50px;
}
.btn-cn{
    color: #FD6E0A;
    background-color: #FFF8F3;
    border-radius: 5px;
    border: 1px solid #FD6E0A ;
    font-size: 20px;
    font-weight: 500;
    padding: 15px;
    width: 150px;
    height: 65;
    margin-left: 20px; 
}
.bnr{
    margin: 150px 20px 20px 40px;
    width: 500px;  
}
.banner{ 
    display: flex;
}
.min{
    margin: 100px;
}
.about{
    background-color: #FFF8F3;
    text-align: center;
   padding: 100px;
}
.info{
    display: flex;
   justify-content: space-around;
}
.do{
    text-align: center;
    padding: 50px;
}
.summary{
    margin-top: 100px;
}
.js{ 
    display: flex;
    gap: 20px;
    
}
.jsin{
    background-color: #f9f8f8 ;
    border: none; 
    border-radius: 5px;
     padding: 35px;
    
     
}
.smry{
    text-align: center;
    
}
.rsm{
    display: flex;
   
}
.top{
    margin-top: 50px;
}
.exp{
    margin-left: 100px;
}
.fo{
   display: flex;
    margin: 100px;
   
}

.sb{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    height: 60px;
    width: 140px;
    color: white;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    
}
.plc{
   
    padding: 20px 400px 20px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    
}
.msg{
   
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    padding: 20px 400px 150px 20px;
    
 
}

.ip> input {
    display: block;
}

.copy{
    text-align: center;
}
.if{
   width: 50%;
   margin-top: 100px;
   
}
.ipt{
    margin-top: 100px;
    margin-left: 50px;
   
}
.footer-part{
    background-color: #FFF8F3;
}
.name{
font-size: 60px;
font-weight: 900;

}
.ssl-icon> a{
  margin-right: 20px;
   
}
  


