body{font-family: "Open Sans", sans-serif;
}
.hdr{
    background-color: #FFF8F3;  
    height: max-content;   
}
.primary-color {
    color: #FD6E0A;
}
nav{
    display: flex;
    justify-content: space-around; 
    margin-bottom: 70px;
}
nav>h2{
    font-weight: 900;
}
nav>ul{
    display: flex;
    list-style: none;
    align-items: center;
}
ul>li>a{
    margin-right: 100px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
}
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-weight: 500;
    padding: 15px;
    width: 150px;
    height: 65;
}
.btn-cv{ 
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-weight: 500;
    padding: 15px;
    width: 190px;
    height: 65;
}
.cn{
    text-align: center;
    margin-top: 50px;
}
.btn-cn{
    color: #FD6E0A;
    background-color: #FFF8F3;
    border-radius: 5px;
    border: 1px solid #FD6E0A ;
    font-size: 20px;
    font-weight: 500;
    padding: 15px;
    width: 150px;
    height: 65;
    margin-left: 20px; 
}
.bnr{
    margin: 150px 20px 20px 165px;
    width: 500px;  
}
.banner{ 
    display: flex;
}
.min{
    margin: 100px;
}
.about{
    background-color: #FFF8F3;
    text-align: center;
   padding: 100px;
}
.info{
    display: flex;
   justify-content: space-around;
}
.do{
    text-align: center;
    padding: 50px;
}
.summary{
    margin-top: 100px;
}
.js{ 
    display: flex;
    gap: 20px;
}
.jsin{
    background-color: #FFFFFF; 
    border-radius: 1%; 
    box-shadow: 0px 0px 3px 3px  rgb(249, 248, 248);
     padding: 35px;
}
.smry{
    text-align: center;
}
.rsm{
    display: flex;
   
}
.top{
    margin-top: 50px;
}
.exp{
    margin-left: 100px;
}
.fo{
   display: flex;
    margin: 100px;
   
}

.sb{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    color: white;
    margin-top: 20px;
}
.plc{
    height: 30px;
    width: 400px;
    margin-top: 20px;
    
}
.msg{
    height: 100px;
    width: 400px;
    margin-top: 20px;
}

.ip> input {
    display: block;
}

.copy{
    text-align: center;
}
.if{
   width: 50%;
}
.ipt{
    margin-left: 100px;
}
